:root {
    --paleblue: hsl(243, 100%, 93%);
    --grayishblue: hsl(229, 7%, 55%);
    --darkblue: hsl(228, 56%, 26%);
    --verydarkblue: hsl(229, 57%, 11%);  
}

/* Feel free to remove these styles or customise in your own stylesheet 👍*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-image: url(images/bg-mobile.png);
    font-size: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    height: 100vh;
}

span {
    color: var(--paleblue);
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: var(--darkblue);
    border-top-right-radius: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem;
    width: 60%;
}

.logo {
    margin-bottom: 0.5rem;
}

.menu--items {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.bg-menu--items {
    background-color: var(--verydarkblue);
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.contenedor--barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.barra {
    display: flex;
    flex-direction: column;
    background-color: var(--darkblue);
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
}



.espacio-vacio {
    height: 1rem;
    width: 100%;
    background-color: var(--verydarkblue);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.espacio-ocupado {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 0.8rem;
    width: 81.5%;
    background-image: linear-gradient(to right,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    border-radius: 10px;
    margin-left: 1%;
}

.bolita {
    height: 11px;
    width: 11px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 1px;
}

.You’veused {
    text-align: center; 
    margin: 1%;
    color: var(--grayishblue);
}


.gbdebarr {
    display: flex;
    justify-content: space-between;
    color: var(--paleblue);
}

.GBL185 {
font-size: 1rem;
display: flex;
align-items: center;
background-color: white;
padding: 5px;
border-radius: 10px;
position: absolute;
top: 65%;
color: var(--verydarkblue);
}

.gbl185--span {
    font-size: 0.3rem;
    color: var(--grayishblue);
}

.attribution {
    font-size: 0.3rem;
}

@media (min-width: 500px) {
    main {
        flex-direction: row;
    }

    .menu{
        width: 60vh;
        margin-right: 1rem;
        margin-left: 2rem;
    }

    .barra {
        width: 70vh;
        margin-right: 2rem;
        position: absolute;
        bottom: 29% ;
    }
    .GBL185 {
        position: absolute;
        top: 39%;
        right: 10%;
        
    }

    
    }


}